<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.ImageMapper">

	<resultMap type="com.board.domain.ImageVO" id="imageSelectRM">
		<result property="prdtId" column="product_id" />
		<result property="fileName" column="file_name" />
		<result property="filePath" column="file_path" />
	</resultMap>

	<insert id="addImages">
		INSERT INTO image_file(product_id, file_name, file_path)
		VALUES(#{prdtId}, #{fileName}, #{filePath})
	</insert>

	<select id="getImagesById" parameterType="String" resultType="com.board.domain.ImageVO" resultMap="imageSelectRM">
		SELECT 
			a.product_id, a.file_name, a.file_path 
		FROM 
			image_file a LEFT OUTER JOIN product b
		ON
			a.product_id = b.product_id
		WHERE 
			a.product_id = #{prdtId}
	</select>

</mapper>