<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.board.mapper.ProductMapper">

	<resultMap type="com.board.domain.ProductVO" id="productSelectRM">
		<result property="prdtId" column="product_id" />
		<result property="accountId" column="account_id" />
		<result property="prdtName" column="product_name" />
		<result property="prdtPrice" column="product_price" />
		<result property="prdtCategory" column="product_category" />
		<result property="prdtInfo" column="product_info" />
		<result property="prdtCondition" column="product_condition" />
		<result property="prdtIsTradeable" column="product_is_tradeable" />
		<result property="prdtRegDate" column="product_reg_date" />
		<result property="prdtUpdateDate" column="product_update_date" />
		<result property="prdtIsDeliveryFree" column="product_is_delivery_free" />
		<result property="prdtLikeCnt" column="product_like_cnt" />
		<result property="prdtTradeLoc" column="product_trade_loc" />
		<result property="prdtTradeStatus" column="product_trade_status" />
		
		<collection property="imageVO" resultMap="imageSelectRM" />
	</resultMap>
	
	<resultMap type="com.board.domain.ImageVO" id="imageSelectRM">
		<result property="fileName" column="file_name" />
		<result property="filePath" column="file_path" />
	</resultMap>

	<insert id="addNewProduct">
		INSERT INTO product(
			product_id,
			account_id, 
			product_name, 
			product_price, 
			product_category,
			product_info, 
			product_condition, 
			product_is_tradeable,
			product_reg_date,
			product_is_delivery_free,
			product_trade_loc)
		VALUES(
			#{prdtId},
			#{accountId},
			#{prdtName},
			#{prdtPrice},
			#{prdtCategory},
			#{prdtInfo},
			#{prdtCondition},
			#{prdtIsTradeable},
			sysdate,
			#{prdtIsDeliveryFree},
			#{prdtTradeLoc}
		)
	</insert>
	
	<select id="getProductById" parameterType="String" resultType="com.board.domain.ProductVO">
		SELECT
			product_id,
			account_id,
			product_name, 
			product_price, 
			product_category,
			product_info, 
			product_condition, 
			product_is_tradeable,
			product_reg_date,
			product_update_date,
			product_is_delivery_free,
			product_like_cnt,
			product_trade_loc,
			product_trade_status
		FROM
			product
		WHERE account_id = #{accountId}
	</select>
	
	<select id="getProductList" resultType="com.board.domain.ProductVO" resultMap="productSelectRM">
		SELECT
				a.product_id,
				a.account_id,
				a.product_name, 
				a.product_price, 
				a.product_category,
				a.product_info, 
				a.product_condition, 
				a.product_is_tradeable,
				a.product_reg_date,
				a.product_update_date,
				a.product_is_delivery_free,
				a.product_like_cnt,
				a.product_trade_loc,
				a.product_trade_status,
				b.file_name,
				b.file_path
			FROM 
				product a LEFT OUTER JOIN image_file b
			ON
				a.product_id = b.product_id
	</select>
	
	<delete id="deleteProduct">
		DELETE FROM product
		WHERE account_id = #{accountId}
		AND product_id = #{prdtId}
	</delete>

</mapper>